@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    font-family: 'Indie Flower', cursive;
}

.logo {
    border-radius: 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    top: -2px;
    left: 47px;
}

.logo img {
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.social {
    display: inline-block;
    position: relative;
    top: -31px;
    left: 602px;
}

.tag {
    border: 3px solid whitesmoke;
    border-radius: 30px;
    padding: 5px;
    display: inline-block;
    position: relative;
    left: 382px;
    top: -4px;
    font-size: 60px;
    color: white;
}

.banner {
    background-color: black;
    position: sticky;
}

.main {
    display: inline-block;
    position: relative;
    background: url("/images/bgg.jpg");
    background-repeat: no-repeat;
    width: 1335px;
    height: 1221px;
}

.search {
    border: 3px solid black;
    border-radius: 30px;
    position: relative;
    top: 42px;
    left: -216px;
    width: 218px;
    height: 28px;
}

.search {
    padding: 2px;
}

.lens {
    position: relative;
    top: 54px;
    left: -267px;
}

.main h1 {
    color: white;
    writing-mode: vertical-lr;
    position: relative;
    left: 1240px;
    top: 37px;

}

.foot {
    position: relative;
    top: -7px;
    background-color: black;
    display: inline-block;
    width: 1335px;
    height: 103px;
}

ul {
    background-color: black;
    width: 366px;
    height: 68px;
    position: relative;
    left: 464px;

}

ul li {
    display: inline-block;
    border: 1px solid white;
    margin: 17px;
    padding: 4px;
    border-radius: 17px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}